%% == Dependancies ==
{erl_opts,
  [
    debug_info,
    {parse_transform, lager_transform}
  ]
}.
{
  deps,
  [
    {bbmustache,      {git, "https://github.com/soranoba/bbmustache.git",
                                                        {branch,  "master"}}},
    {erlcass,         {git, "https://github.com/silviucpp/erlcass.git",
                                                        {branch,  "master"}}},
    {getopt, "0.5.*", {git, "git://github.com/jcomellas/getopt.git",
                                                        {tag, "v0.5.2"}}},
    {pgsql,           {git, "https://github.com/semiocast/pgsql.git",
                                                        {branch,  "master"}}}
  ]
}.
{escript_main_app, erlsqlmigrate}.
{escript_incl_apps, [getopt, erlcass, bbmustache]}.
{edoc_opts, [{private, true}]}.
{shell, [
  {apps, [lager, erlcass, bbmustache, pgsql]},
  {config, "config/sys.config"}
  ]
}.
