%% == Dependancies ==
{erl_opts,
  [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/lib/cqerl/include"}
  ]
}.
{
  deps,
  [
    {cqerl,           {git, "https://github.com/matehat/cqerl.git",
                                                        {branch,  "master"}}},
    {erlcass,         {git, "https://github.com/silviucpp/erlcass.git",
                                                        {branch,  "master"}}},
    {getopt, "0.5.*", {git, "git://github.com/jcomellas/getopt.git",
                                                        {tag, "v0.5.2"}}},
    {mustache,        {git, "https://github.com/mojombo/mustache.erl.git",
                                                        {branch,  "master"}}}
  ]
}.
{escript_main_app, erlsqlmigrate}.
{escript_incl_apps, [getopt, cqerl, erlcass, maustache]}.
{edoc_opts, [{private, true}]}.
{shell, [
  {apps, [lager, cqerl, erlcass, mustache]},
  {config, "config/sys.config"}
  ]
}.
