%% == Dependancies ==
{erl_opts,
  [
    debug_info,
    {parse_transform, lager_transform}
  ]
}.
{
  deps,
  [
    {bbmustache,      {git, "https://github.com/soranoba/bbmustache.git",
                                                        {branch,  "master"}}},
    {lpgauth,         {git, "https://github.com/lpgauth/marina.git",
                                                        {branch,  "master"}}},
    {getopt,          {git, "https://github.com/jcomellas/getopt.git",
                                                        {tag, "v0.5.2"}}},
    {pgsql,           {git, "https://github.com/semiocast/pgsql.git",
                                                        {branch,  "master"}}},
    {yamerl,          {git, "https://github.com/yakaz/yamerl.git",
                                                        {tag,  "v0.7.0"}}}
  ]
}.
{escript_main_app, erlsqlmigrate}.
{escript_incl_apps, [getopt, marina, pgsql, bbmustache]}.
{edoc_opts, [{private, true}]}.
{shell, [
  {apps, [lager, bbmustache, yamerl]},
  {config, "config/sys.config"}
  ]
}.
